div.audio-player {
    display: flex;
    justify-content: center;
    height: 48px;
    width: 100%;
    position: fixed;
    background-color: rgb(237, 237, 237);
    border-top: 1px solid rgb(194, 204, 214);
    bottom: 0;
}

div.audio-player div.inner {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    max-width: 1240px;
}

div.inner {
    display: flex;
    align-content: stretch;
}

.audio-controls {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 20px;
}

.track-controls {
    width: 80px;
    position: relative;
    top: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.queue-controls {
    position: relative;
    top: 35%;
    width: 60px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}
