div.queue-control.container {
    font-size: .8rem;
    position: relative;
    /* right: 0; */
    bottom: 46px;
    left: 0;
}

div.queue-control-header {
    text-wrap: nowrap;
}

div#queue-control {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}