
@import url(reset.css);
@import url(app.css);

:root {
    overflow: hidden;
    font-family: 'Monsterrat';
}

p, span, label, h1, h2, h3, h4, h5, h6 {
    cursor: default;
}

button {
    cursor: pointer;
}

