
  .profile-dropdown * {
    display: flex;
    justify-content: center;
  }

  .profile-dropdown a {
    padding: 15px;
    background: none;
    font: inherit;
    text-decoration: none;
    color: white;
  }