
  .profile-dropdown * {
    display: flex;
    justify-content: center;
  }

  .profile-dropdown a {
    padding: 15px;
    background: none;
    font: inherit;
    text-decoration: none;
    color: white;
  }

  button:has(i.fa-solid.fa-user-circle) {
    appearance: none;
    border: none;
    background: none;
    color: lightgray;
  }

  button:has(i.fa-solid.fa-user-circle):hover {
    color: white;
  }